name: todo-ui-pipeline
run-name: Deploy to ${{ inputs.environment }} by @${{ github.actor }}
on: 
  workflow_dispatch:
    inputs:
      environment:
        description: Select environment
        required: true
        default: dev
        type: choice
        options:
          - dev
          - qa
          - prod
env:
  MY_VAR: Hi there! My name is
  FIRST_NAME: Mona
  MIDDLE_NAME: The
  LAST_NAME: Octocat
jobs:
  Build:
    name: buildjob
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0
      with:
        node-version: 16.x

    - name: Install dependencies
      run: |
        npm install
    - name: Build the project
      run: |
        npm run build
        
