name: todo-ui-pipeline
run-name: Deploy to ${{ inputs.environment }} by @${{ github.actor }}
on: 
  workflow_dispatch:
    inputs:
      environment:
      description: Select environment
      required: true
      default: dev
      type: choice
      options:
        - dev
        - qa
        - prod
env:
  MY_VAR: Hi there! My name is
  FIRST_NAME: Mona
  MIDDLE_NAME: The
  LAST_NAME: Octocat
jobs:
  Build:
    name: buildjob
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: print a greeting
      run: |
        echo $MY_VAR $FIRST_NAME $MIDDLE_NAME $LAST_NAME ${{ inputs.environment }}.
        
